blinker==1.4
boto3
botocore
brotlipy
certifi==2022.6.15
cffi
charset-normalizer
cryptography
delta
idna
jmespath
joblib
kafka-python
numpy
oauthlib
pandas==1.4.1
py4j
pyarrow==5.0.0
pycparser
PyJWT
pyOpenSSL
PySocks
pyspark==3.2.0
python-dateutil
pytz
requests
requests-oauthlib
s3transfer
scikit-learn
scipy
six
threadpoolctl
tweepy
urllib3
